<mat-card class="cv-card">
	<img height="215" mat-card-image src="assets/img/cv-card-img.png" alt="resume photo">
	<mat-card-content>

		<div class="name">
			<span>{{card.name}}</span>
		</div>
		<div class="title">{{card.title}}</div>

	</mat-card-content>
	<mat-card-actions>
		<button disabled mat-button>{{card.creationDate}}</button>

		<mat-menu #appMenu="matMenu">
			<ng-template matMenuContent let-name="name">
				<button mat-menu-item *ngIf="!card.archived" (click)="onEdit()">Edit</button>
				<button mat-menu-item *ngIf="!card.archived" (click)="onArchive()">Archive</button>
				<button mat-menu-item *ngIf="card.archived" (click)="onRestore()">Restore</button>
				<button mat-menu-item (click)="onDownload()">Download</button>
				<button mat-menu-item (click)="onDelete()">Delete</button>
			</ng-template>
		</mat-menu>

		<button mat-icon-button [matMenuTriggerFor]="appMenu">
			<mat-icon class="menu-trigger">more_vert</mat-icon>
		</button>

	</mat-card-actions>
</mat-card>