@import "../../../../scss/variables";

.cv-card {
	.card-image {
		height: 215px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.mat-card-content {
		padding: 0 10px;
		margin-bottom: 0;

		.name {
			padding-right: 15px;
			font-size: 20px;
			font-weight: 500;
		}

		.title {
			margin-top: 10px;
			color: $text-secondary;
			font-size: 14px;
			color: $text-light;
			font-weight: 300;
		}
	}

	.mat-card-actions {
		margin-top: 5px;
		padding: 10px;
		display: flex;
		justify-content: space-between;

		button {
			font-weight: 400;
			font-size: 13px;
		}

		button:first-child {
			background-color: rgba(254, 246, 212, 1);
			color: rgba(222, 187, 113, 1);
		}

		button:last-child {
			margin: 0;
			color: $text-light;

			.mat-icon {
				font-size: 30px;
			}
		}
	}
}
