<mat-toolbar class="header">
	<img class="logo" width="97" height="34" src="../../../assets/logo/logo-grey.png">

	<div class="nav">
		<a href="" [routerLink]="['/dashboard/home']" routerLinkActive="primary">Home</a>
		<a href="" [routerLink]="['/dashboard/archive']" routerLinkActive="primary">Archive</a>
		<a href="https://sombrainc.com/" target="_blank">
			Sombrainc.com
			<mat-icon aria-hidden="false" aria-label="link">open_in_new</mat-icon>
		</a>
		<a href="https://www.linkedin.com/company/sombra-inc/" target="_blank">
			Linkedin.com
			<mat-icon aria-hidden="false" aria-label="link">open_in_new</mat-icon>
		</a>
	</div>

	<div class="user-section">
		<span>Ihor Bilobran</span>
		<div class="user-avatar">
			<span>IB</span>
		</div>
	</div>
</mat-toolbar>

<div class="main">
	<router-outlet></router-outlet>
	<app-footer></app-footer>
</div>