@import "../../../../scss/variables";

.content {
	padding-top: 40px;
	padding-bottom: 40px;

	.text {
		.title {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 8px;
		}
		.description {
			color: $text-light;
		}
	}

	.actions-wrapper {
		.search {
			border: 1px solid $border-light;
			border-radius: 30px;
			padding: 6px;
			background: $white;

			.mat-icon {
				margin: 0 15px;
				color: $text-light;
			}

			input {
				font-family: "AvertaStd", monospace !important;
				background: inherit;
				border: none;
				outline: none;
				font-size: 16px;
				color: $text-light;
				padding-right: 100px;

				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: $text-light;
				}

				&:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: $text-light;
				}

				&::-ms-input-placeholder {
					/* Microsoft Edge */
					color: $text-light;
				}
			}

			button {
				padding: 0 30px;
			}
		}

		.actions {
			margin-top: 10px;
		}
	}
}

.hr {
	position: relative;
	width: 100%;
	border-bottom: 1px solid $border-light;
	left: 0;
	right: 0;
}
