<div class="content" fxLayout="row">
	<div class="text" fxFlex="50%">
		<div class="title">{{title}}</div>
		<div class="description">{{description}}</div>
	</div>
	<div class="actions-wrapper" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
		<div *ngIf="search" class="search" fxLayoutAlign="center center">
			<mat-icon>search</mat-icon>
			<input placeholder="Search for a resume" [formControl]="searchControl">
			<button mat-stroked-button color="warn" (click)="resetSearch()"
				[ngStyle]="{'visibility': isSearchValid? 'visible': 'hidden'}">
				<mat-icon>clear</mat-icon>
			</button>
			<button mat-raised-button color="primary" (click)="emitSearch()">Search</button>
		</div>
		<div class="actions">
			<ng-content></ng-content>
		</div>
	</div>
</div>
<div class="hr"></div>