<mat-toolbar class="header">
	<img class="logo" width="97" height="34" src="../../../assets/logo/logo-grey.png">

	<div class="nav" fxLayout="column">
		<a href="">Home</a>
		<a href="">Archive</a>
		<a href="https://sombrainc.com/" target="_blank">Sombrainc.com</a>
		<a href="https://www.linkedin.com/company/sombra-inc/" target="_blank">Linkedin.com</a>
	</div>

	<div class="user-section">
		<span>Ihor Bilobran</span>
		<div class="user-avatar">
			<span>IB</span>
		</div>
	</div>
</mat-toolbar>