@import "../../scss/variables";

.actions {
    button {
        padding: 0 40px;
        margin: 0 5px;
    }
}
.section {
    display: flex;
    justify-content: center;
    
    .page {
        position: relative;
        width: 100%;
        max-width: 1158px;
        background-color: $white;
        border-radius: 2px;
        box-shadow: 0px 3px 6px 0px rgba(47, 83, 151, 0.12);
        padding: 50px 40px;
        margin-bottom: 55px;

        button.delete {
            position: absolute;
            bottom: -45px;
            right: 0;
            font-size: 12px;
            line-height: 28px;
        }

        .header {
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-end;

            .contact-info {
                display: flex;
                align-items: center;

                .content {
                    font-size: 12px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .content {
            display: flex;

            .aside {

                .photo, .drop-area {
                    height: 480px;
                    width: 300px;
                }

                .photo {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                .drop-area {
                    border: 1px solid rgba(131, 131, 131, 1);
                    border-radius: 4px;
                    border-style: dashed;
                    padding: 20px;
                    
                    .area {
                        background-color: $bg-grey;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 100%;

                        & > div {
                            margin: 15px 0;
                        }

                        p {
                            line-height: 22px;
                            color: rgba(105, 105, 105, 0.84);

                        }
                    }
                }

                .location {
                    margin-top: 50px;
                    display: flex;
                    align-items: center;

                    .content {
                        font-size: 12px;
                        display: flex;
                        flex-direction: column;
                    }
                }

                img[alt="sombra-logo"] {
                    margin: 28px 0 0 41px;
                }
            }

            .main {
                padding-left: 40px;
            }
        }
    }
}