@import "variables";

body {
	background-color: $bg-grey;
}

// layout

.section {
	padding: 40px 135px;
	min-height: calc(100vh - 64px - 140px - 59px);
}

.cv-card {
	width: 260px;
	height: 355px;
	margin: 0 40px 40px 0;
	transition: transform 0.2s ease-in !important;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		transform: scale(1.02);

		.delete {
			display: block !important;
		}
	}
}

// utils

.primary {
	color: $primary !important;
}

.danger {
	color: $danger !important;
}

.text-primary {
	color: $text-primary;
}

.text-secondary {
	color: $text-secondary;
}

.pointer {
	cursor: pointer;
}
