
@import "variables";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$sombra-primary: (
    50 : #e5f0e8,
    100 : #bfd9c5,
    200 : #94c09f,
    300 : #69a679,
    400 : #49935c,
    500 : #29803f,
    600 : #247839,
    700 : #1f6d31,
    800 : #196329,
    900 : #0f501b,
    A100 : #88ff9a,
    A200 : #55ff6f,
    A400 : #22ff44,
    A700 : #08ff2f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sombra-warn: (
    50 : #fae5e9,
    100 : #f3bec7,
    200 : #eb92a2,
    300 : #e2667c,
    400 : #dc4660,
    500 : #d62544,
    600 : #d1213e,
    700 : #cc1b35,
    800 : #c6162d,
    900 : #bc0d1f,
    A100 : #ffe9eb,
    A200 : #ffb6bb,
    A400 : #ff838c,
    A700 : #ff6975,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cvEditor-primary: mat-palette($sombra-primary);
$cvEditor-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cvEditor-warn: mat-palette($sombra-warn);

// Create the theme object (a Sass map containing all of the palettes).
$cvEditor-theme: mat-light-theme($cvEditor-primary, $cvEditor-accent, $cvEditor-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cvEditor-theme);

button {
    border-radius: 18px !important;

    &.mat-icon-button {
        color: $text-light;
    }
}

.mat-icon {
    color: $text-light;
}