$white: rgba(255, 255, 255, 1);
$bg-grey: rgba(251, 251, 253, 1);
$text-primary: rgba(17, 17, 17, 1);
$text-secondary: rgba(81, 81, 81, 1);
$text-light: rgba(187, 189, 188, 1);
$border-light: rgba(230, 232, 241, 1);
$primary: rgba(41, 128, 63, 1);