<mat-card class="cv-card">
	<img height="215" mat-card-image src="../../../assets/img/cv-card-img.png" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<div class="name">
			<span>Bohdamyr</span>
			<div class="delete">
				<button mat-icon-button aria-label="Delete">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
		<div class="title">Java developer</div>

	</mat-card-content>
	<mat-card-actions>
		<button disabled mat-button>06 Oct 2018</button>
		<button mat-button>
			<mat-icon>save_alt</mat-icon>
			Download
		</button>
	</mat-card-actions>
</mat-card>