<app-page-header [search]="false" title="Create resume" description="See an example">
	<div class="actions" *ngIf="resume">
		<button mat-stroked-button (click)="openPreview()">Preview</button>
		<button mat-raised-button color="primary" (click)="download(page)">Download</button>
	</div>
</app-page-header>
<div class="section">
	<div class="resume-page">
		<div class="header">
			<div class="contact-info">
				<button mat-icon-button aria-label="Edit" (click)="toggleAdititionalEdit('contact')">
					<mat-icon *ngIf="!contactEdit">edit</mat-icon>
					<mat-icon *ngIf="contactEdit">save</mat-icon>
				</button>
				<div class="content text-secondary" *ngIf="generalInfoForm" [formGroup]="generalInfoForm">
					<div>
						<span class="primary">Tel / </span> -
						<input [readonly]="!contactEdit" type="text" formControlName="phone">
					</div>
					<input [readonly]="!contactEdit" type="text" formControlName="email">
					<input [readonly]="!contactEdit" type="text" formControlName="website">
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class="aside">
				<button *ngIf="photoUrl" class="small small-photo" mat-stroked-button color="warn"
					(click)="deletePhoto()">
					Remove Photo
				</button>
				<button *ngIf="!photoUrl  && imageChangedEvent" class="small small-photo" mat-stroked-button
					color="warn" (click)="resetCroppedImage()">
					Cancel
				</button>
				<button *ngIf="!photoUrl  && imageChangedEvent" class="small small-save" mat-stroked-button
					color="primary" (click)="saveCruppedImage()">
					Save
				</button>
				<ng-container *ngIf="!photoUrl && !imageChangedEvent">
					<ngx-file-drop dropZoneClassName="photo drop-area" contentClassName="area" [accept]="acceptableType"
						[multiple]="false" (onFileDrop)="dropped($event)">
						<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
							<mat-icon>cloud_upload</mat-icon>
							<div>. JPG or . PNG</div>
							<p>Drag and drop photo <br>
								or <a href="javascript:void(0);"><label class="pointer" for="file-upload">upload from
										computer</label></a>

								<input type="file" id="file-upload" (change)="fileInput($event)"
									[disabled]="fileLoading" [accept]="acceptableType" hidden>
							</p>
						</ng-template>
					</ngx-file-drop>
				</ng-container>

				<div class="photo" *ngIf="!photoUrl && imageChangedEvent">
					<image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
						[aspectRatio]="5 / 8" format="png" (imageCropped)="imageCropped($event)">
					</image-cropper>
				</div>

				<img *ngIf="photoUrl" class="photo" [src]="photoUrl">

				<div class="location">
					<button mat-icon-button aria-label="Edit" (click)="toggleAdititionalEdit('location')">
						<mat-icon *ngIf="!locationEdit">edit</mat-icon>
						<mat-icon *ngIf="locationEdit">save</mat-icon>
					</button>
					<div class="content text-secondary" *ngIf="locationInfoForm" [formGroup]="locationInfoForm">
						<input [readonly]="!locationEdit" type="text" formControlName="title">
						<input [readonly]="!locationEdit" type="text" formControlName="street">
						<input [readonly]="!locationEdit" type="text" formControlName="state">
						<input [readonly]="!locationEdit" type="number" formControlName="postalCode">
						<input [readonly]="!locationEdit" type="text" formControlName="country">
					</div>
				</div>
				<img height="33" src="assets/logo/sombra-logo.svg" alt="sombra-logo">
			</div>
			<div class="main">
				<ng-container *ngIf="id && resume">
					<app-resume-form [model]="resume" (submit)="updateResume($event)"></app-resume-form>
				</ng-container>
				<ng-container *ngIf="!id">
					<app-resume-form (submit)="createResume($event)"></app-resume-form>
				</ng-container>
			</div>
		</div>
		<div class="error-message" *ngIf="errorMessage && !photoUrl">{{errorMessage}}</div>
		<button *ngIf="id" class="small small-resume" mat-stroked-button color="warn" (click)="deleteResume()">
			Delete resume
		</button>
	</div>
</div>