<app-page-header [search]="false" title="Create resume" description="See an example">
	<div class="actions">
		<button mat-stroked-button>Preview</button>
		<button mat-raised-button color="primary">Download</button>
	</div>
</app-page-header>
<div class="section">
	<div class="page">
		<div class="header">
			<div class="contact-info">
				<button mat-icon-button aria-label="Edit" (click)="toggleAdititionalEdit('contact')">
					<mat-icon *ngIf="!contactEdit">edit</mat-icon>
					<mat-icon *ngIf="contactEdit">save</mat-icon>
				</button>
				<div class="content text-secondary">
					<div>
						<span class="primary">Tel / </span>
						<input [readonly]="!contactEdit" type="text" name="phone" value="- 380 032 253 8076">
					</div>
					<input [readonly]="!contactEdit" type="text" name="sales" value="sales@sombrainc.com">
					<input [readonly]="!contactEdit" type="text" name="website" value="www.sombrainc.com">
				</div>
			</div>
		</div>
		<div class="content">
			<div class="aside">
				<ng-container *ngIf="!imgUrl">
					<ngx-file-drop dropZoneClassName="photo drop-area" contentClassName="area" [accept]="acceptableType"
						[multiple]="false" (onFileDrop)="dropped($event)">

						<mat-icon>cloud_upload</mat-icon>
						<div>. JPG or . PNG</div>
						<p>Drag and drop photo <br>
							or <a href="javascript:void(0);"><label class="pointer" for="file-upload">upload from
									computer</label></a>

							<input type="file" id="file-upload" (change)="fileInput($event)" [disabled]="fileLoading"
								[accept]="acceptableType" hidden>
						</p>

					</ngx-file-drop>
				</ng-container>

				<!-- ngx-image-cropper -->
				<!-- <image-cropper></image-cropper> -->

				<img *ngIf="imgUrl" class="photo" [src]="imgUrl">

				<div class="location">
					<button mat-icon-button aria-label="Edit" (click)="toggleAdititionalEdit('location')">
						<mat-icon *ngIf="!locationEdit">edit</mat-icon>
						<mat-icon *ngIf="locationEdit">save</mat-icon>
					</button>
					<div class="content text-secondary">
						<input [readonly]="!locationEdit" type="text" name="name" value="Sombrain Inc.">
						<input [readonly]="!locationEdit" type="text" name="street" value="Uhorska St, 14">
						<input [readonly]="!locationEdit" type="text" name="sity" value="Lviv, Lvivska oblast,">
						<input [readonly]="!locationEdit" type="number" name="post" value="79000">
						<input [readonly]="!locationEdit" type="text" name="country" value="Ukraine">

					</div>
				</div>
				<img height="33" src="assets/logo/sombra-logo.svg" alt="sombra-logo">
			</div>
			<div class="main">
				<ng-container *ngIf="id && resume">
					<app-resume-form [model]="resume.resume" (submit)="updateResume($event)"></app-resume-form>
				</ng-container>
				<ng-container *ngIf="!id">
					<app-resume-form (submit)="createResume($event)"></app-resume-form>
				</ng-container>

			</div>
		</div>
		<button *ngIf="id" class="delete" mat-stroked-button color="warn" (click)="deleteResume()">Delete
			resume</button>
	</div>
</div>