@import "../../../../scss/custom";

.actions {
	button {
		padding: 0 40px;
		margin: 0 5px;
	}
}
.section {
	display: flex;
	justify-content: center;
}

::ng-deep .mat-dialog-container[aria-label="preview"] {
	padding: 0px;
}
