<div class="wrapper">
	<div class="resume-page" #element>
		<div class="header">
			<div class="contact-info">
				<div class="content text-secondary">
					<div>
						<span class="primary">Tel / </span> -
						<input readonly type="text" [value]="resume.general.phone">
					</div>
					<input readonly type="text" [value]="resume.general.email">
					<input readonly type="text" [value]="resume.general.website">
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class="aside">
				<div>
					<img src="assets/logo/creating-value.png" alt="logo-value">

					<img class="photo" [src]="resume.photo">

					<div class="about-wrapper" *ngIf="true">
						<div class="first-name text-primary">
							<strong>
								{{resume.resume.about.firstName}}
							</strong>
						</div>
						<div class="position text-secondary">
							<strong>
								{{resume.resume.about.position}}
							</strong>
						</div>
						<div class="english">
							<div class="primary">English Proficiency Level</div>
							<div class="text-secondary">{{resume.resume.about.englishProficiencyLevel}}</div>
						</div>
					</div>
				</div>


				<div class="location">
					<div class="content text-secondary">
						<input readonly type="text" [value]="resume.location.title">
						<input readonly type="text" [value]="resume.location.street">
						<input readonly type="text" [value]="resume.location.state">
						<input readonly type="number" [value]="resume.location.postalCode">
						<input readonly type="text" [value]="resume.location.country">
					</div>

					<img src="assets/logo/sombra-logo.png" alt="sombra-logo">
				</div>
			</div>
			<div class="main">

			</div>
		</div>
	</div>
</div>