@import "../../../../scss/variables";

$page-width: 794px;
$page-height: 1133px;
$header-height: 51px;

.wrapper {
	background: transparent;
}

.resume-page {
	width: $page-width;
	height: $page-height;
	padding: 40px 30px 60px 30px;
	box-shadow: none;
	font-size: 13px;
	margin: 10px 0 !important;

	.header {
		height: $header-height;
		margin-bottom: 0px;
		display: flex;
		justify-content: space-between;

		.page-number {
			font-size: 15px;
			padding: 3px 0;
			margin-left: 15px;
		}

		.contact-info {
			display: flex;
			align-items: center;

			.content {
				font-size: 13px;
				display: flex;
				flex-direction: column;
			}
		}
	}

	.page-content {
		padding-top: 20px;
		height: calc(#{$page-height} - #{$header-height} - 100px);

		.aside {
			height: 100%;
			min-width: 222px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			img[alt="logo-value"] {
				width: 105px;
				height: 33px;
				display: block;
				margin-bottom: 13px;
			}

			img[alt="sombra-logo"] {
				width: 90px;
				height: 21px;
				display: block;
				margin: 25px 0 0 0;
			}

			.about-wrapper {
				padding-top: 50px;

				.first-name {
					font-size: 20px;
					font-weight: bold;
				}

				.position {
					font-size: 18px;
					padding-top: 5px;
				}

				.english {
					padding-top: 25px;
					font-size: 16px;

					.primary {
						padding-bottom: 5px;
					}
				}
			}

			.photo {
				height: 355px;
				width: 222px;
			}

			.location {
				display: block;
				position: relative;
				margin-top: 0;
			}

			.location,
			.about-wrapper,
			img[alt="logo-value"] {
				margin-left: 15px;
			}
		}

		.main {
			padding-left: 15px;
			width: 100%;
			font-size: 14px;
			color: $text-secondary;

			.title {
				font-weight: bold;
				font-size: 15px;
				margin-bottom: 10px;
			}

			.resume-section {
				margin-bottom: 25px;
			}

			.repeat-wrapper {
				.item {
					margin-bottom: 15px;

					.sub-title {
						padding: 10px;
						background-color: $primary-light;
						margin-bottom: 5px;
					}

					.label,
					.value {
						padding: 0 10px;
					}
				}
			}

			.skills {
				.repeat-wrapper {
					display: flex;
					flex-wrap: wrap;

					.item {
						width: 244px;
						margin-right: 2px;

						.value {
							white-space: pre-line;
						}
					}
				}
			}

			.soft-skills {
				.value {
					margin-bottom: 5px;
				}
			}

			.experience {
				.detailed-description {
					margin-top: 15px;
				}

				.label {
					font-weight: bold;
					margin-bottom: 5px;
				}
			}

			.education {
				.text-primary {
					margin-bottom: 5px;
				}
			}
		}
	}
}
