@import "../../../../scss/variables";

$page-width: 794px;
$page-height: 1133px;
$header-height: 51px;

.wrapper {
	border: 1px solid black;
}

.resume-page {
	width: $page-width;
	height: $page-height;
	padding: 40px 30px 60px 30px;
	box-shadow: none;
	font-size: 13px;
	margin: 0 !important;

	.header {
		height: $header-height;
		margin-bottom: 0px;
		display: flex;
		justify-content: flex-end;

		.contact-info {
			display: flex;
			align-items: center;

			.content {
				font-size: 13px;
				display: flex;
				flex-direction: column;
			}
		}
	}

	.page-content {
		padding-top: 20px;
		height: calc(#{$page-height} - #{$header-height} - 100px);

		.aside {
			border: 1px solid red;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			img[alt="logo-value"] {
				width: 105px;
				height: 33px;
				display: block;
				margin-bottom: 13px;
			}

			img[alt="sombra-logo"] {
				width: 90px;
				height: 21px;
				display: block;
				margin: 25px 0 0 0;
			}

			.about-wrapper {
				padding-top: 50px;

				.first-name {
					font-size: 20px;
					font-weight: bold;
				}

				.position {
					font-size: 18px;
					padding-top: 5px;
				}

				.english {
					padding-top: 25px;
					font-size: 16px;

					.primary {
						padding-bottom: 5px;
					}
				}
			}

			.photo {
				height: 355px;
				width: 222px;
			}

			.location {
				display: block;
				position: relative;
				margin-top: 0;
			}

			.location,
			.about-wrapper,
			img[alt="logo-value"] {
				margin-left: 15px;
			}
		}

		.main {
			padding-left: 15px;
			width: 100%;
			border: 1px solid blue;
			font-size: 14px;
			color: $text-secondary;

			.title {
				font-weight: bold;
				font-size: 15px;
				margin-bottom: 10px;
			}

			.full {
				margin-bottom: 30px;
			}
		}
	}
}
